{% extends 'views/header.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/page.css' %}"> 

<div class="container">

  {% for item in items %}       
  <div class="box">
    <img style="border-radius: 15px;" src="/static{{item.image.url}}" alt="" width="100%" height="400px">
    <hr style="border:1px solid magneta;"> 
    <div class="details">
        <h3 class="tex" style="color:red;" >{{item.name}}</h3>
        <hr style="border:1px solid magneta;">
        <p class="tex" style="color:white;">Year: {{item.year}}</p>
    </div>
 </div>

    {% endfor %}  
</div>



{% endblock content %}